@import './../shared/shared.module.scss';

app-header {

    .header-common__fields {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
    }

    .header-logo {
        @extend .header-common__fields;
        grid-area: header-logo;
        padding-left: 1rem;
        justify-content: left;
    }

    .header-account {
        @extend .header-common__fields;
        grid-area: header-account;
    }

    .header-faq {
        @extend .header-common__fields;
        grid-area: header-faq;
    }

    .header-more {
        @extend .header-common__fields;
        grid-area: header-more;
    }

    .header-common {
        display: grid;
        width: calc(100% - 2rem);
        padding: 1rem;
        grid-template-columns: 75% 11% 7% 7%;
        grid-template-rows: auto;
        grid-template-areas: 
            "header-logo header-account header-faq header-more";
   }

    .header-background__white {
        @extend .header-common;
        background-color: $main-background;
        color: $main-text__primary;
    }

    .header-background__dark {
        @extend .header-common;
        background-color: $main-background__darker;
        color: $main-text__darkmode;
    }

    .header-background__contrast {
        @extend .header-common;
        background-color: $main-background__darker;
        color: $main-text__contrast;
    }

    .header-font__small {
        font-size: $text-font__small;
    }

    .header-font__medium {
        font-size: $text-font__medium;
    }

    .header-font__large {
        font-size: $text-font__large;
    }
}