@import './../shared.module.scss';

app-faq-request {
    .contrast_inputs {
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: transparent;
            border: 1px solid $main-text__contrast;
        }
        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
            border-bottom-color: transparent;
        }
        .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
            color: $main-text__contrast;
        }
        .mat-mdc-option {
            background: $main-background__darker;
        }
        .mat-mdc-select-arrow svg {
            color: $main-text__contrast;
        }
        .mat-mdc-select-value-text {
            color: $main-text__contrast;
        }
        .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
            color: $main-text__contrast;
        }
        .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
            color: $main-text__contrast;
        }
    }

    .faq_container {
        min-height: 1000px;
        padding: 2rem;
        display: flex;
        justify-content: center;
    }

    .faq-container__white {
        @extend .faq_container;
        background-color: $main-background;
        color: $main-text__primary;
    }

    .faq-container__dark {
        @extend .faq_container;
        background-color: $main-background__darker;
        color: $main-text__darkmode;
    }

    .faq-container__contrast {
        @extend .faq_container;
        background-color: $main-background__darker;
        color: $main-text__contrast;
    }

    .faq-container__tile_contrast {
        @extend .faq-container__tile;
        @extend .contrast_inputs;
    }

    .faq-container__tile {
        width: 50%;
        min-height: 100px;
        padding: 2rem;

        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10% 15% 15% 25% 15% 15%;
        grid-template-areas: 
            "faq-title faq-title faq-title faq-title"
            "faq-email faq-email faq-imie faq-imie"
            "faq-typ faq-typ faq-numer faq-numer"
            "faq-opis faq-opis faq-opis faq-opis"
            "faq-zalacznik faq-zalacznik . ."
            ". . faq-przycisk faq-przycisk"
        ;

        .example-full-width {
            padding: 1rem;
            width: 100%;
            background-color: transparent;
        }
        
        .faq-title {
            grid-area: faq-title;
            margin-bottom: 1rem;
            padding: 1rem;
            width: 95%;
        }
        .faq-email {
            grid-area: faq-email;
            margin-bottom: 1rem;
            width: 95%;
        }
        .faq-imie {
            grid-area: faq-imie;
            margin-bottom: 1rem;
            width: 95%;
        }
        .faq-typ {
            grid-area: faq-typ;
            margin-bottom: 1rem;
            width: 95%;
        }
        .faq-numer {
            grid-area: faq-numer;
            margin-bottom: 1rem;
            width: 95%;
        }
        .faq-opis {
            grid-area: faq-opis;
            margin-bottom: 1rem;
            width: 97.5%;
        }
        .faq-zalacznik {
            grid-area: faq-zalacznik;

            .faq-zalacznik__text {
                margin-bottom: 1rem;
            }
        }
        .faq-przycisk {
            grid-area: faq-przycisk;
        }

        

        .choose-button__white {
            width: 90%;
            height: 10vh;
            border: 2px solid $main-background__darker;

            cursor: pointer;
        }
        .choose-button__white:hover {
            background-color: #ececec;
        }

        .choose-button__contrast {
            width: 90%;
            height: 10vh;
            border: 2px solid $main-text__contrast;
            background-color: transparent;
            color: $main-text__contrast;
            cursor: pointer;
        }
        .choose-button__contrast:hover {
            background-color: $main-text__contrast;
            color: $main-background__darker;
        }
    }
}