@import './filter-container/filter-container.component.scss';
@import './offers-list/offers-list.component.scss';
@import './tile-record/tile-record.component.scss';
@import './register-view/register-view.component.scss';
@import './faq-request/faq-request.component.scss';
@import './account-view/account-view.component.scss';

.button_visibility__disabled__white {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    color: $main-text__primary;
}

.button_visibility__disabled__contrast {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    color: $main-text__contrast;
}

.button_visibility__disabled {
    background-color: transparent;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}