$main-background: rgb(250, 250, 250);
$main-background__darker: #1F1B24;
$main-text__primary: #1F1B24;
$main-text__darkmode: rgb(250, 250, 250);
$main-text__contrast: rgb(253, 253, 25);

$text-font__small: 16px;
$text-font__medium: 20px;
$text-font__large: 24px;