<div [ngClass]="isContrast ? 'account_view__contrast' : 'account_view__white'">
    <div class="account_view__body">
        <div class="account_view__title">
            <span aria-label="Your account">Twoje konto</span>
        </div>
        <div class="account_view__buttons">
            <div class="account_view__buttons_display">

                <div [ngClass]="{
                    'account_view__buttons-offers_active': activeField === 'offers' && !isContrast,
                    'account_view__buttons-offers': activeField !== 'offers' && !isContrast,
                    'account_view__buttons-offers_active_contrast': activeField === 'offers' && isContrast,
                    'account_view__buttons-offers_contrast': activeField !== 'offers' && isContrast}"
                >
                    <button class="button-size" (click)="activateView('offers')" aria-label="Go to the view of your offers"
                    [ngClass]="isContrast && activeField !== 'offers' ? 'button_visibility__disabled__contrast' : 'button_visibility__disabled__white'">
                        Twoje ogłoszenia
                    </button>
                </div>

                <div [ngClass]="{'account_view__buttons-observed_active': activeField === 'observed' && !isContrast,
                'account_view__buttons-observed': activeField !== 'observed' && !isContrast,
                'account_view__buttons-observed_active_contrast': activeField === 'observed' && isContrast,
                'account_view__buttons-observed_contrast': activeField !== 'observed' && isContrast}"
                >
                    <button class="button-size" (click)="activateView('observed')" 
                    aria-label="Go to the view of observed offers"
                    [ngClass]="isContrast && activeField !== 'observed'? 'button_visibility__disabled__contrast' : 'button_visibility__disabled__white'">
                        Obserwowane
                    </button>
                </div>

                <div [ngClass]="{
                    'account_view__buttons-settings_active': activeField === 'settings' && !isContrast,
                    'account_view__buttons-settings': activeField !== 'settings' && !isContrast,
                    'account_view__buttons-settings_active_contrast': activeField === 'settings' && isContrast,
                    'account_view__buttons-settings_contrast': activeField !== 'settings' && isContrast}"
                >
                    <button class="button-size" (click)="activateView('settings')" aria-label="Go to the view of settings"
                    [ngClass]="isContrast && activeField !== 'settings' ? 'button_visibility__disabled__contrast' : 'button_visibility__disabled__white'">
                       Ustawienia
                    </button>
                </div>

            </div>
        </div>
        <div class="account_view__view">
            <div class="account_view__view-offers" *ngIf="activeField === 'offers'">
                <div class="view-offers" *ngIf="getUserOffers$ | async; else noOffers">
                    <app-offers-list
                        class="home-page__offers__list"
                        [filteredQuery$]="getUserOffers$"
                        [isGlobalOffers]="false"
                    ></app-offers-list>
                </div>
                <ng-template #noOffers class="home-page__offers__list">
                    <span>Aktualnie nie masz żadnego aktywnego ogłoszenia</span>
                </ng-template>
            </div>
            <div class="account_view__view-observed" *ngIf="activeField === 'observed'">
                <div class="view-observed" *ngIf="isFavInStorage; else noObserved">
                    <app-offers-list
                    class="home-page__offers__list"
                    [isGlobalOffers]="false"
                    [observed]="true"
                    ></app-offers-list>
                </div>
                <ng-template #noObserved class="home-page__offers__list">
                    <span class="home-page__offers__list-text">Aktualnie nie obserwujesz żadnego ogłoszenia</span>
                </ng-template>
            </div>
            <div class="account_view__view-settings" *ngIf="activeField === 'settings'">
                <div [ngClass]="isContrast ? 'change-password_contrast' : 'change-password'">
                    <div class="register-login-field">
                        <mat-form-field class="example-full-width">
                            <mat-label aria-label="Email address">Aktualne hasło</mat-label>
                            <input type="email" matInput value="">
                        </mat-form-field>
                    </div>
                    <div class="register-password-field">
                        <mat-form-field class="example-full-width">
                            <mat-label aria-label="Password">Nowe hasło</mat-label>
                            <input type="password" matInput value="">
                        </mat-form-field>
                    </div>
                    <div [ngClass]="isContrast ? 'confirm-password_contrast' : 'confirm-password'">
                        <button mat-button
                            [ngClass]="isContrast ? 'button_visibility__contrast_register' : 'button_visibility__disabled__white'" 
                            aria-label="Change password">
                            Zmień hasło
                        </button>
                    </div>
                    <div [ngClass]="isContrast ? 'logout-button_contrast' : 'logout-button'">
                        <button mat-button 
                            [ngClass]="isContrast ? 'button_visibility__contrast_register' : 'button_visibility__disabled__white'" 
                            aria-label="Logout">
                            Wyloguj się
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>