@import './../shared.module.scss';

app-register-view {

    .contrast_inputs {
        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: transparent;
            border: 1px solid $main-text__contrast;
        }
        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
            border-bottom-color: transparent;
        }
        .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
            color: $main-text__contrast;
        }
        .mat-mdc-option {
            background: $main-background__darker;
        }
        .mat-mdc-select-arrow svg {
            color: $main-text__contrast;
        }
        .mat-mdc-select-value-text {
            color: $main-text__contrast;
        }
        .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
            color: $main-text__contrast;
        }
        .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
            color: $main-text__contrast;
        }
    }

    .register-background {
        display: flex;
        justify-content: center;
        min-height: 900px;
        padding-top: 2rem;
    }

    .register-background__white {
        @extend .register-background;
        background-color: $main-background;
        color: $main-text__primary;
    }

    .register-background__dark {
        @extend .register-background;
        background-color: $main-background__darker;
        color: $main-text__darkmode;
    }

    .register-background__contrast {
        @extend .register-background;
        background-color: $main-background__darker;
        color: $main-text__contrast;
    }

    .mat-divider {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
        border: 2px solid $main-text__primary;
        border-top-color: $main-text__primary;
    }

    ::ng-deep .mat-mdc-form-field-focus-overlay {
        background-color: rgb(177, 140, 81) !important;
      }

    .register-view {
        border: 2px solid $main-text__primary;
        width: 600px;
        height: 500px;

        

        .register-divider {
            grid-area: 'register-divider';
        }

        .register-divider-2 {
            grid-area: 'register-divider-2';
        }

        .login-field {
            grid-area: 'login-field';
            display: flex;
            justify-content: center;
            min-height: 70px;
            margin: 1rem;

            .login-button_white {
                font-size: 24px;
                width: 100%;
                background-color: transparent;
            }
            .login-button_white:hover {
                background-color: #ececec;
            }

            .login-button_contrast {
                font-size: 24px;
                width: 100%;
                background-color: transparent;
                color: $main-text__contrast;
            }
            .login-button_contrast:hover {
                background-color: $main-text__contrast;
                color: $main-background__darker;
            }
        }

        .register-field {
            grid-area: register-field;
            display: flex;
            justify-content: center;
            min-height: 70px;
            margin: 1rem;

            .register-button_white {
                font-size: 24px;
                width: 100%;
                background-color: transparent;
            }
            .register-button_white:hover {
                background-color: #ececec;
            }

            .register-button_contrast {
                font-size: 24px;
                width: 100%;
                background-color: transparent;
                color: $main-text__contrast;
            }
            .register-button_contrast:hover {
                background-color: $main-text__contrast;
                color: $main-background__darker;
            }
        }

        .register-divider {
            grid-area: register-divider;
        }

        .register-email-field {
            grid-area: email-field;
            width: 100%;
            padding: 3rem;
            display: grid;
            justify-content: center;
            .email-field {
                width: 100%;
            }
        }
    
        .register-password-field {
            grid-area: password-field;
            padding: 3rem;

            display: flex;
            justify-content: center;
            flex-direction: column;

            .button-area {
                display: flex;
                justify-content: center;

                .forgot-button_white {
                    height: 5vh;
                    border-radius: 10px;
                    width: 50%;
                    background-color: transparent;
                }
                .forgot-button_white:hover {
                    background-color: #ececec;
                }

                .forgot-button_contrast {
                    height: 5vh;
                    border-radius: 10px;
                    width: 50%;
                    background-color: transparent;
                    color: $main-text__contrast;
                }
                .forgot-button_contrast:hover {
                    background-color: $main-text__contrast;
                    color: $main-background__darker;
                }
            }
        }

        .register-password-field_contrast {
            @extend .register-password-field;
            @extend .contrast_inputs;
        }

        .register-login-field {
            @extend .contrast_inputs;
            grid-area: password-field2;
            padding: 3rem;

            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .register-login-field_contrast {
            @extend .register-login-field;
            @extend .contrast_inputs;
        }
    
        .register-login-button {
            grid-area: login-button;
            padding: 1rem;
            display: flex;
            justify-content: center;
            .login-button {
                grid-area: 'register-buttons';
                width: 90%;
                height: 12vh;
                border-radius: 10px;
            }
            .login-button:hover {
                background-color: #ececec;
            }

            .login-button_contrast {
                grid-area: 'register-buttons';
                width: 90%;
                height: 12vh;
                border-radius: 10px;
                background-color: transparent;
                color: $main-text__contrast;
            }
            .login-button_contrast:hover {
                background-color: $main-text__contrast;
                color: $main-background__darker;
            }
        }

        .register-login-button_contrast {
            @extend .register-login-button;
            @extend .contrast_inputs;
        }

        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 5% 25% 25% 25%;
        grid-template-areas: 
            "login-field register-field"
            "register-divider register-divider"
            "password-field2 password-field2"
            "password-field password-field"
            "login-button login-button";
    }

}